body { 
   width:100vw; 
   height:100vh; 
   background-color: #0f0f0f;
   color:whitesmoke;
   padding: 0;
   margin:0;
   #content { 
      width:100%; 
      height:100%;
      background-color: transparent;
      .monitors { 
         width:100%;
         height:10vw;
         background:#060606;
         border-bottom: 1px white solid;
         .setting { 
            width:100%;
            height:40%;
         }
         #monitors { 
            background: orange;
            width:100%; 
            height:60%;
         }

      }
   }
}